/* FONTES */

/* 
font-family: "Grandstander", cursive;
font-family: "Lato", sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&family=Lato:wght@400;700&display=swap');

/* DEFINIÇÃO DAS CORES */

:root {
  --background: #fff;
  --foreground: #ebf4ff;
  --thirdground: #ffc600;
  --primary: #131923;
  --secondary: #0055b8;
  --secondary-foreground: #fff;
  --hero-background: #f3f3f3;
  --font-title: "Grandstander", cursive;
  --font-text: "Lato", sans-serif;
  --font-size-padrao: 1.6rem;
}

/* CONFIGURAÇÃO GLOBAL - REGRAS GERAIS */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: var(--font-text);
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-size: var(--font-size-padrao);
}

/* CLASSE CONTAINER PADRÃO */

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

/* CLASS BUTTON - PADRÃO */

.button, .button2 {
  display: inline-block;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--secondary-foreground);
  padding: 2rem 4rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 1.6rem;
}

.button2 {
  background-color: var(--hero-background);
  color: var(--secondary);
}

.button:hover, .button2:hover {
  opacity: 0.8;
}

/* == HEADER == */

header {
  position: sticky;
  inset: 0 0 auto 0;
  z-index: 10;
  box-shadow: 0 0 5px #ccc;
  background-color: var(--background);
}

header .banner {
  display: block;
  background-color: var(--thirdground);
  padding: 1rem 2rem;
  text-align: center;
  color: var(--primary);
  text-decoration: none;
}

header .banner:hover {
  opacity: 0.8;
}

header .logo img {
  width: 12rem;
}

header .area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header .menu-opener {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

header .hamburger-icon {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

header .hamburger-icon span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--secondary);
}

header .closed-icon {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

header .closed-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--secondary);
}

header .closed-icon span:first-child {
  transform: rotate(45deg);
}

header .closed-icon span:last-child {
  transform: rotate(-45deg);
}

header nav {
  background-color: var(--background);
  color: var(--secondary);
  overflow-y: hidden;
  max-height: 0;
  transition: all ease .5s;
}

header nav.opened {
  max-height: 100vh;
}

header nav ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

header nav li {
  padding: 1rem 2rem;
}

header nav a {
  color: var(--secondary);
  text-decoration: none;
}

header nav a:hover {
  opacity: 0.8;
}

header nav a.bold {
  font-weight: 700;
}

/* HERO */

.hero {
  background-image: url(../img/hero-center.png);
  background-size: auto 40rem;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: var(--hero-background);
}

.hero .box {
  padding: 4rem 2rem 28rem 2rem;
  max-width: 60rem;
}

.hero h1 {
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  font-size: 5rem;
  line-height: 5rem;
}

.hero h1 span {
  color: var(--secondary);
}

.hero h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem 0;
}

/* SEEN */

.seen {
  background-color: var(--foreground);
  padding: 3rem;
}

.seen .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
}

.seen .container div {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* TOPICS */

.topics {
  padding: 5rem 3rem;
}

.topics .topic {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;
}

.topics .topic .left,
.topics .topic .right {
  flex: 1;
}

.topics .topic .left img {
  max-width: 100%;
}

.topics li,
.topics h3 {
  font-family: var(--font-title);
  font-weight: 700;
  letter-spacing: -0.1rem;
  font-size: 3rem;
  line-height: 3rem;
}

.topics li:nth-child(even),
.topics h3 span {
  color: var(--secondary);
}

.topics .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* PRODUTOS */

.products {
  padding: 0 3rem;
}

.products h2 {
  font-family: var(--font-title);
  letter-spacing: -0.1rem;
  font-size: 4rem;
}

.products h2 span {
  color: var(--secondary);
}

.products .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 5rem 0;
}

.products .product {
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  text-decoration: none;
  background-color: var(--background);
  color: var(--primary);
}

.products .product .image {
  width: 12rem;
  min-height: 15rem;
  overflow: hidden;
  background-size: cover;
}

.products .product .info {
  flex: 1;
  padding: 2rem;
}

.products .product .title {
  font-family: var(--font-title);
  font-weight: 700;
  letter-spacing: -0.1rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.products .product .description {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.products .product .link {
  color: var(--secondary);
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: underline;
  display: none;
}

/* TESTIMONIALS */

.testimonials {
  background-color: var(--foreground);
  color: var(--primary);
}

.testimonials .container {
  max-width: 60rem;
}

.testimonials .quote {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  padding: 6rem 2rem 0 2rem;
  text-align: center;
}

.testimonials .icons {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  margin: auto;
}

/* FAQ */

.faq {
 margin-top: 6rem;
 padding: 0 3rem;
}

.faq h2 {
  font-family: var(--font-title);
  font-size: 4rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.faq h2 span {
  color: var(--secondary);
}

.faq .accordion .item {
  border-bottom: 2px solid var(--secondary);
}

.faq .accordion .item:last-child {
  border-bottom: 0;
}

.faq .accordion .item .title {
  color: var(--secondary);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
}

.faq .accordion .item .title img {
  transition: all ease .5s;
}

.faq .accordion .item .body {
  line-height: 2.5rem;
  overflow-y: hidden;
  max-height: 0;
  transition: all ease .5s;
}

.faq .accordion .item .body p {
  padding: 2rem 0;
}

.faq .accordion .item.opened .body {
  max-height: 100%;
}

.faq .accordion .item.opened .title img {
  transform: rotate(180deg);
}

/* NEWSLETTER */

.newsletter {
  padding: 5rem 0;
  background-color: var(--foreground);
  margin-top: 6rem;
}

.newsletter .container {
  padding: 0 3rem;
}

.newsletter h2 {
  font-family: var(--font-title);
  letter-spacing: -0.1rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.newsletter h2 span {
  color: var(--secondary);
}

.newsletter form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.newsletter input {
  flex: 1;
  padding: 2rem;
  border-radius: 1.6rem;
  border: 1px solid var(--secondary);
  background-color: var(--foreground);
  outline: none;
}

/* FOOTER */

footer {
  margin-top: 6rem;
}

footer .container {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

footer nav p {
  font-weight: 700;
  color: var(--primary);
}

footer nav li {
  margin: 0.8rem 0;
}

footer nav a {
  color: var(--secondary);
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .bar {
  background-color: var(--foreground);
  text-align: center;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 1.4rem;
}

/* ====================================================== */

/* BREAKPOINTS */

@media (width > 600px) {

  /* SEEN */
  .seen .container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* TOPICS */
  
.topics .topic {
  flex-direction: row;
}

.topics li,
.topics h3 {
  font-size: 3.2rem;
  line-height: 3.2rem;
} 

.topics .button {
  width: auto;
}

.topics .topic.reverse {
  flex-direction: row-reverse;
}

/* PRODUTOS */

.products .grid {
  grid-template-columns: repeat(2, 1fr);
}

.products .product {
  flex-direction: column;
}

.products .product .image {
  width: 100%;
  min-height: 20rem;
}

.products .product .link {
  display: block;
}

.newsletter form {
  flex-direction: row;
  max-width: 60rem;
}

/* FOOTER */

footer .container {
  grid-template-columns: repeat(2, 1fr);
}

}

@media (width > 900px) {

  /* HEADER */

  header .menu-opener {
    display: none;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    max-height: 100vh;
  }

  header nav ul {
    flex-direction: row;
    padding-bottom: 0;
  }

  /* HERO */

  .hero {
    background-image: url(../img/hero.png);
    background-size: auto;
  }

  .hero .box {
    padding: 10rem 2rem 20rem 2rem;
  }

  /* TOPICS */

  .topics li,
  .topics h3 {
    font-size: 5rem;
    line-height: 5rem;
  }  
  
/* PRODUTOS */

.products .grid {
  grid-template-columns: repeat(4, 1fr);
}

.products .product .image {
  min-height: 16rem;
}

/* FOOTER */

footer .container {
  grid-template-columns: repeat(4, 1fr);
}

}